
:root {
    --primary-color: #F9F3DF;
    --secondary-color: #F0BB62;
}

body {
    font-size: 100%;
    color: #fff;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--secondary-color);
}

#logo-img {
    width: 75px;
    height: 75px;
    /* float: left; */
}

.navbar-brand {
    padding: 0;
}

.navbar-brand-link {
    text-decoration: none;
    color: #fff;
}

/* .navbar-brand-link:hover {
    color: #fff;
} */