$board-size: 400px;
$square-size: 125px;
$board-padding: 6px;

$red-color: rgb(255, 75, 75);
$blue-color: rgb(102, 102, 255);
$hover-red-color: rgb(255, 193, 193);
$hover-blue-color: rgb(198, 198, 255);

$footer-text-color: rgba(120, 120, 120, 0.7);
